@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

/* ----------- Header ---------- */
#hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0) 25%, transparent 100%), url('./../images/308730508_596184905544179_4682401747476039275_n.jpg');
    background-position: center;
    background-size: cover;
}

/* ---------- Side Navigation ---------- */
#mySidenav {
    transition: 0.5s;
}

/* ---------- Le lotus bungalow : logo ---------- */
.bg-original {
    transition: background-color 0.5s ease;
}

.bg-scroll {
    background-color: #0b132b;
}

.gallery {
    margin: auto;
}



.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
    transition: 0.4s;
}

.content:hover {
    box-shadow: 0 5px 10px 2.5px rgba(0, 0, 0, 0.400);
}

.columns {
    float: left;
    width: 40%;
    padding: 8px;
}


.price {
    list-style-type: none;
    border-color:  #eeeeee;
    transition: 0.3s;
}


.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #0b132b;
    color: white;
    font-size: 25px;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #f33cfc;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .columns {
        width: 100%;
    }
}